<!DOCTYPE html>
<html>
<head lang="en">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-104915253-1', 'auto');
    ga('send', 'pageview');
  </script>

    <meta charset="UTF-8">

    <!--Page Title-->
    <title>Vencoin - Top-P Pareto Index</title>

    <!--Meta Keywords and Description-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

    <!--Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" title="Favicon"/>

    <!-- Main CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/style.css') }}">

    <!-- Namari Color CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/namari-color.css') }}">

    <!--Icon Fonts - Font Awesome Icons-->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/font-awesome.min.css') }}">

    <!-- Animate CSS-->
    <link href="{{ url_for('static',filename='assets/css/animate.css') }}" rel="stylesheet" type="text/css">

    <!--Google Webfonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div id="status" class="la-ball-triangle-path">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!--End of Preloader-->

<div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
    <div class="top-border wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"></div>
    <div class="right-border wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
    <div class="bottom-border wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"></div>
    <div class="left-border wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></div>
</div>

<div id="wrapper">

    <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
        <div id="header" class="nav-collapse">
            <div class="row clearfix">
                <div class="col-1">

                    <!--Logo-->
                    <div id="logo">

                        <!--Logo that is shown on the banner-->
                        <img src="images/logo.png" id="banner-logo" alt="Top-P Pareto Index Plot Page"/>
                        <!--End of Banner Logo-->

                        <!--The Logo that is shown on the sticky Navigation Bar-->
                        <img src="images/logo-2.png" id="navigation-logo" alt="Top-P Pareto Index Plot  Page"/>
                        <!--End of Navigation Logo-->

                    </div>
                    <!--End of Logo-->

                    <aside>

                        <!--Social Icons in Header-->
                        <ul class="social-icons">
                            <li>
                                <a target="_blank" title="Facebook" href="https://www.facebook.com/username">
                                    <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" title="Google+" href="http://google.com/+username">
                                    <i class="fa fa-google-plus fa-1x"></i><span>Google+</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" title="Twitter" href="http://www.twitter.com/username">
                                    <i class="fa fa-twitter fa-1x"></i><span>Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                                    <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" title="behance" href="http://www.behance.net">
                                    <i class="fa fa-behance fa-1x"></i><span>Behance</span>
                                </a>
                            </li>
                        </ul>
                        <!--End of Social Icons in Header-->

                    </aside>

                    <!--Main Navigation-->
                    <nav id="nav-main">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                        </ul>
                    </nav>
                    <!--End of Main Navigation-->

                    <div id="nav-trigger"><span></span></div>
                    <nav id="nav-mobile"></nav>

                </div>
            </div>
        </div><!--End of Header-->

        <!--Banner Content-->
        <div id="banner-content" class="row clearfix">

            <div class="col-38">
                <div class="section-heading">
                    <h1>Top-P Pareto Index</h1>
                    <h2>80% Market Capitalization Coins Free-float Index</h2>
                </div>
            </div>
            <div class="col-38">
                <iframe width="900" height="800" frameborder="0" scrolling="no" src={{ link }}></iframe>
            </div>


        </div><!--End of Row-->
    </header>

    <!--Footer-->
    <footer id="landing-footer" class="clearfix">
        <div class="row clearfix">

            <!--Social Icons in Footer-->
            <ul class="col-2 social-icons">
                <li>
                    <a target="_blank" title="Facebook" href="https://www.facebook.com/username">
                        <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" title="Google+" href="http://google.com/+username">
                        <i class="fa fa-google-plus fa-1x"></i><span>Google+</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" title="Twitter" href="http://www.twitter.com/username">
                        <i class="fa fa-twitter fa-1x"></i><span>Twitter</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                        <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" title="behance" href="http://www.behance.net">
                        <i class="fa fa-behance fa-1x"></i><span>Behance</span>
                    </a>
                </li>
            </ul>
            <!--End of Social Icons in Footer-->
        </div>
    </footer>
    <!--End of Footer-->

</div>

<!-- Include JavaScript resources -->
<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/wow.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/featherlight.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/featherlight.gallery.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/jquery.enllax.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/jquery.scrollUp.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/jquery.stickyNavbar.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/images-loaded.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/lightbox.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/site.js') }}"></script>


</body>
</html>
